<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.GroupTypeMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.GroupType">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <result column="parentId" property="parentId"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, `type`, parentId
    </sql>

    <select id="selectObjById" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_group_type
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="selectObjByParentId" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_group_type
        <where>
          <choose>
              <when test="parentId != null and parentId != ''">
                  parentId = #{parentId}
              </when>
              <otherwise>
                  <if test="parentId == null or parentId == ''">
                      parentId IS NULL
                  </if>
              </otherwise>
          </choose>
        </where>
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List" />
        FROM metoo_group_type
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="name != null and name != ''">
                `name` = #{name}
            </if>
            <if test="type != null and type != ''">
                `type` = #{type}
            </if>
        </where>
    </select>

</mapper>